.navbar-brand {
  border-right: 1px solid rgba(0, 0, 0, 0.9);
  padding-right: 15px;
}

._search {
  input {
    border: none;
    background: transparent;

    &:focus {
      box-shadow: none;
      background: transparent;
    }
  }
}